/**
 * Project2: The BART
 *
 * Computer Science E-75
 * Nelson Reitz
 *
 * http://github.com/nelsonreitz/project2
 */

/** Table of content
 * - General
 * - Header
 * - Route form
 * - Map
 * - InfoWindows
 * - Footer
 */

/* General */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: #262626;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #262626;
    font-weight: 700;
    text-decoration: none;
}

/* Header */

.header {
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    height: 80px;
    padding: 32px 33px 9px 33px;
    position: relative;
    text-align: center;
    width: 100%;
}

.site-title {
    margin-left: 0;
    position: absolute;
    top: 20px;
}

.logo {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
}

.subtitle {
    color: #888;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .05rem;
    line-height: 15px;
    margin: 0;
}

.site-title a {
    font-weight: 400;
}

/* Route form */

select {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 1px;
    box-shadow: none;
    font-size: 13px;
    height: 38px;
    padding: 6px 15px;
    text-transform: uppercase;
    width: 320px;
}

select:focus {
    border: 1px solid #888;
    outline: 0; 
}

/* Map */

#map-canvas {
    height: 80%;
    height: -moz-calc(100% - 80px - 45px);
    height: -webkit-calc(100% - 80px - 45px);
    height: -o-calc(100% - 80px - 45px);
    height: calc(100% - 80px - 45px); /* 100% minus header and footer height */
    width: 100%;
}

/* InfoWindows */

.infowindow {
    font-weight: 400;
}

.infowindow table {
    width: 100%;
}

.infowindow-header {
    border-bottom: 1px solid lightgrey;
    margin: 0 0 15px 0;
    padding-bottom: 5px;
}

.infowindow h2 {
    margin: 3px 0 1px 0;
}

.infowindow p {
    margin: 0;
}

.infowindow th {
    padding: 1px 0;
}

.infowindow thead tr {
    height: 20px;
    text-transform: uppercase;
}

thead .destination {
    font-weight: 700;
}

.destination {
    font-weight: 400;
    text-align: left;
    width: 150px;
}

.minutes {
    font-weight: 700;
    text-align: right;
}

/* Footer */

.footer {
    background-color: #fff;
    border-top: 1px solid #bbb;
    bottom: 0;
    color: #888;
    font-size: 11px;
    height: 45px;
    padding: 17px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.footer p {
    line-height: 11px;
    margin: 0;
}

.footer a {
    color: #888;
}

#powered {
    margin-right: 20px;
}
